<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true">
  </mat-spinner>
  <div *ngSwitchCase="false">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Email(optional)</mat-label>
          <input matInput placeholder="example@dot.com" formControlName="email">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Birthday date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDay" />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select formControlName="team" placeholder="Team(optional)">
            <mat-option *ngFor="let team of teams" [value]="team">{{
              team.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Complete the form to enable button.</p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelCreate()">Cancel</button>
      <hr>
    </form>
  </div>
</div>
