<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false" dense>
    <button mat-raised-button color="primary" *ngIf="!isCreate" (click)="isCreate=true">Create new Project</button>
    <hr>
    <app-project-create *ngIf="isCreate" (created)="onCreated($event)" (canceled)="onCancel()"></app-project-create>
    <div *ngFor="let project of projects">
      <app-project-item [item]="project" (onRemove)="onRemoveItem($event)"></app-project-item>
    </div>
  </div>
</div>
