<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false">
    <div *ngIf="!isEdit" class="info-panel">
      <p>Name: {{team.name}}</p>
      <p>Created At: {{team.createdAt | UaDate}}</p>
      <button mat-raised-button color="primary" (click)="editTeam()">Edit</button>
      <button mat-raised-button color="basic" [routerLink]="['../']">To List</button>
    </div>
    <form *ngIf="isEdit" [formGroup]="teamForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Project" formControlName="name">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!teamForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
