<mat-toolbar>
  <span>AngularBS</span>
  <a class="nav" [routerLink]="['/projects']" routerLinkActive="nav-active" mat-button>Projects</a>
  <a class="nav" [routerLink]="['/tasks']" routerLinkActive="nav-active" mat-button>Tasks</a>
  <a class="nav" [routerLink]="['/users']" routerLinkActive="nav-active" mat-button>Users</a>
  <a class="nav" [routerLink]="['/teams']" routerLinkActive="nav-active" mat-button>Teams</a>
</mat-toolbar>
