<p>Choose project from list:</p>
<mat-select [(value)]="current" [disabled]="isCreate" placeholder="Choose project to see tasks">
  <mat-option *ngFor="let project of projects" [value]="project">{{project.name}}</mat-option>
</mat-select>
<div class="create-button">
  <button *ngIf="!isCreate && current" mat-raised-button color="primary" (click)="isCreate=true">Create new Task</button>
  <hr>
</div>
<app-task-create *ngIf="isCreate" (canceled)="cancelCreate()" (created)="createTask($event)" [project]="current">
</app-task-create>
<h2 *ngIf="!tasks?.length && current">No tasks</h2>
<app-task-item *ngFor="let task of tasks" [item]="task" (onRemove)="removeTask($event)"></app-task-item>
