<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true"></mat-spinner>
  <div *ngSwitchCase="false">
    <div *ngIf="!isEdit" class="info-panel">
      <p>Name: {{task.name}}</p>
      <p>Description: {{task.description}}</p>
      <p>Finished at: {{task.finishedAt | UaDate}}</p>
      <p>Performer: {{task.performer | UserInfo}}</p>
      <p>Project: {{task.project.name}}</p>
      <button mat-raised-button color="primary" (click)="editTask()">Edit</button>
      <button mat-raised-button color="basic" [routerLink]="['../']">To List</button>
    </div>

    <form *ngIf="isEdit" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Task Name</mat-label>
          <input matInput placeholder="Task Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Task Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Finished at</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="finishedAt" />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select [compareWith]="compareUsers" formControlName="performer" placeholder="Performer">
            <mat-option *ngFor="let performer of performers" [value]="performer">{{
              performer | UserInfo
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-select [compareWith]="compareUsers" formControlName="project" placeholder="Project">
            <mat-option *ngFor="let project of projects" [value]="project">{{
              project.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Complete the form to enable button.</p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
