<div class="info-panel">
  <h3>{{team.id}}-{{team.name}}</h3>
  <hr>
  <p>Created At: {{team.createdAt | UaDate}}</p>
  <button mat-raised-button color="primary" [routerLink]="['./'+team.id]">Info</button>
  <button mat-raised-button color="warn" (click)="remove()">Remove</button>
</div>
