<div [ngSwitch]="$loading">
  <mat-spinner *ngSwitchCase="true">
  </mat-spinner>
  <div *ngSwitchCase="false">
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
      <div class="form-group-control">
        <mat-form-field appearance="fill">
          <mat-label>Team Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <p>Complete the form to enable button.</p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!teamForm.valid">Save</button>
      <button mat-raised-button color="basic" (click)="cancelCreate()">Cancel</button>
      <hr>
    </form>
  </div>
</div>
